PORT=
APP_ENV=

DB_SOURCE=

GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
GOOSE_TABLE=

DB_USER=
DB_PASSWORD=
DB_NAME=

GARAGE_DEFAULT_ACCESS_KEY="GK$(openssl rand -hex 16)"
GARAGE_DEFAULT_SECRET_KEY="$(openssl rand -hex 32)"
GARAGE_DEFAULT_BUCKET=
